HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/FRONTEND/node_modules
/FRONTEND/.pnp
/FRONTEND/.pnp.js

# testing
/FRONTEND/coverage

# production
/FRONTEND/build

# misc
/FRONTEND/.DS_Store
/FRONTEND/.env.local
/FRONTEND/.env.development.local
/FRONTEND/.env.test.local
/FRONTEND/.env.production.local

/FRONTEND/npm-debug.log*
/FRONTEND/yarn-debug.log*
/FRONTEND/yarn-error.log*
